.headline-wrapper {
  background-color: #A5DCF5;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 5px;
}

.headline-wrapper .headline-title {
  font-size: 18px;
  color: #0057a5;
  text-shadow: 1px 1px #aaa;
}

.headline-wrapper .headline-list {
  font-size: 14px;
  margin: 0 40px;
  padding: 0;
  list-style-position: inside;
}

.headline-wrapper p {
  font-size: 12px;
  margin-left: 60px;
  margin-top: 3px;
  margin-bottom: 3px;
}
